{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <section class="container">
        <article class="flex items-center mt-50 mb-200">
            <div class="w-6/12">
                <img src="../assets/www/images/about-page.jpg" alt="hero">
            </div>
            <div class="w-4/12 mx-auto text-9">
                <p class="py-15">Hannah Van der Haeghen (1997, Belgium) primarily investigates in her work the relationship between human relationships and (her own) memories.</p>
                <p class="py-15">Somewhere between image and story is a tragedy for her. She wants to express this through a notion of beauty and an elusive reality. In her research, she is currently particularly influenced by Jonas Mekas and Agnes Martin who studied and described this subject. </p>
                <p class="py-15">Departing mainly from photography, in both portraits and documentaries, she searches for the field of tension between memory and its retention. </p>
                <p class="py-15">In "found footage," from her own photographic, and family archives, she finds new relationships between an existing and a new view of those images. Analog photography is for her an inexhaustible source of imagination. For her, the latter lies in composition and the game of arriving at new images.</p>
                <p class="py-15">From the need to look beyond the limits of the classical use of photography, she is now working with new media, to find for herself a way, to support the reading and meaning of her work. Recently she has begun using textiles, which now makes her work softer and more tactile. By combining screen printing, transfer techniques and embroidery, she tries to make visual memories tangible.</p>
            </div>
        </article>

        <article class="flex items-center mt-50 mb-200">
            <div class="w-4/12 mx-auto text-9">
                <p class="py-15">Hannah is a young photographer and visual artist.</p>
                <p class="py-15">Graduated from LUCA School of Arts campus Narafi Brussels and Media Arts at KASK & Conservatorium School of Arts Ghent.</p>
            </div>
            <div class="w-4/12 mx-auto">
                <img src="../assets/www/images/Portret.jpg" alt="portret">
            </div>
        </article>
    </section>

{% endblock %}