{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <section class="container">
        <article class="flex">
            <h1 class="w-5/12 text-50 font-serif uppercase">{{ entry.title }}</h1>
        </article>
    </section>
{% endblock %}
