{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <section class="container">
        <article class="flex items-center mt-50 mb-200">
            <div class="w-6/12">
                <img src="../assets/www/images/about-page.jpg" alt="hero">
            </div>
            <div class="w-4/12 mx-auto">
                <p class="w-3/4 py-15 text-10">{{entry.redactor|nl2br}}</p>
            </div>
        </article>

        <article class="flex items-center mt-50 mb-200">
            <div class="w-4/12 mx-auto">
                <p class="py-15 text-10">{{entry.descriptionTwo|nl2br}}</p>
            </div>
            <div class="w-3/12 mx-auto">
                <img src="../assets/www/images/Portret.jpg" alt="portret">
            </div>
        </article>
    </section>

{% endblock %}