{% extends "_layout/site" %}

{% block content %}

    {# <section class="container">
        <button onclick="window.history.go(-1);" class="text-gray-300">Go back</button>
        <div class="w-3/12">
            <h1>{{entry.title}}</h1>
        </div>
    </section> #}

    {# Carousel #}
    <section class="my-20">
            <div class="button-next hidden lg:block -rotate-90 right-8 top-[45%] lg:right-25 -translate-y-1/2 absolute z-[2] py-20 px-15 rounded-full bg-pink">
                <img class="" src="../assets/www/svg/arrow.svg" alt="hero">
            </div>
            <div class="relative">
                <div class="overflow-hidden swiper js-slider">
                    <ul class="block swiper-wrapper">
                        {% for image in entry.imageTwo.all() %}
                        <li class="swiper-slide xl:w-[50vw]">
                            <img class="h-fit w-fit object-cover" src="{{image.url()}}" alt="hero">
                        </li>
                        {% endfor %}                          
                    </ul>
                </div>
            </div>
            <div class="button-prev hidden lg:block rotate-90 top-[45%] left-20 lg:left-25 absolute -translate-y-1/2 z-[2] py-20 px-15 rounded-full bg-pink">
                <img class="" src="../assets/www/svg/arrow.svg" alt="hero">
            </div>
    </section>
{% endblock %}
