{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <div class="relative -top-110 left-0 h-fit">
        <img src="../assets/www/images/hero.jpg" alt="hero">
    </div>

    <section class="container">
        <article class="flex mt-100 mb-200">
            <h2 class="w-5/12 text-50 font-serif uppercase">Capture <br> the essence <br> of <span class="italic">life</span></h2>
            <div class="w-7/12">
            </div>
        </article>

        <article class="flex mt-100 mb-200">
            <div class="w-6/12">
                <img src="../assets/www/images/work.jpg" alt="hero">
            </div>
            <div class="w-4/12 mx-auto">
                <h2 class="text-50 font-serif uppercase">Discover beauty</h2>
                <p class="py-20">Step into the world of creative expression and explore the stunning photography portfolio of Hannah Van der Haeghen. From fashion editorials to captivating fine art images, her work resemblances the beauty and essence of both worlds.</p>
                <button class="bg-black text-white py-10 px-20">work</button>
            </div>
        </article>

        <article class="flex">
            <div class="w-4/12 mx-auto">
                <h2 class="text-50 font-serif uppercase">Meet the Artist</h2>
                <p class="py-20">Get to know the mastermind behind the lens and discover the inspiration behind her stunning work. Learn more about her journey, creative process, and vision for the future.</p>
                <button class="bg-black text-white py-10 px-20">about</button>
            </div>
            <div class="w-6/12">
                <img src="../assets/www/images/about.jpg" alt="hero">
            </div>
        </article>
    </section>

{% endblock %}
