{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
<section class="bg-beige pt-40">
    <article class="container mx-auto px-40 mb-80">
        <div class="mx-auto w-12/12 lg:w-8/12 mb-40">
            <h2 class="text-50 font-serif mb-60 uppercase">{{entry.title}}</h2>
            <p class="mt-40 md:mt-0 lg:w-4/7 text-14 self-center justify-end">{{entry.redactor|nl2br}}</p>
        </div>
    </article>
</section>
{% endblock %}
