{# Layouts and macros #}
{% extends "_layout/site" %}

{% set products = craft.products().limit(32) %}

{% block content %}
    <section class="container">
        <ul class="flex flex-wrap items-center mt-20 mb-200">
            {% if products|length == 0 %}
                <h2 class="uppercase font-sans-wide text-h3 mx-auto">{{ 'Kom terug als we meer hebben...'|t }}</h2>
            {% endif %}
            {% for item in products %}
                <li class="w-4/12">
                    {% include '_commerce/shop/partials/thumbnail' %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
