{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <section class="overflow-hidden bg-beige py-140  relative">
        <h1>{{ entry.title }}</h1>
    </section>
{% endblock %}
