{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <section class="container py-20 px-15 lg:py-100 relative">
        <div class="lg:w-6/12 mx-auto mb-40">
            <h1 class="text-25 text-center font-serif uppercase text-pink-500">We'll get back to you soon!</h1>
            <p class="text-10 font-sans my-30 pb-10">We have succesfully received your message and will answer it as soon as possible.</p>
            <a class="mx-auto button relative pointer border-1 border-black bg-transparent text-black py-10 px-20 block w-max transition duration-300" href="/">go back to homepage</a>
        </div>
    </section>
{% endblock %}