{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{% set list = craft.wishlist.lists().default(true).one() %}

{% block content %}
<section class="container mt-20">
    <h2 class="text-50 font-serif uppercase">{{entry.title}}</h2>

    <div class="flex flex-wrap -mx-30">
    {% if list.items is defined and list.items.all()|length > 0 %}
        <ul class="flex flex-wrap items-center mt-20">
            {% for item in list.items.all() %}
                {% set products = craft.products().id(item.elementId) %}
                {% if products|length %}
                    {% for product in products %}
                    <li class="w-12/12 sm:w-6/12 lg:w-4/12 mb-30 px-10 relative">
                        {% include '_commerce/shop/partials/thumbnail' %}
                    </li>                
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <div class="flex flex-col mt-40 mx-30">
            <h2 class="font-sans text-10 mb-40">{{ 'Geen producten gevonden' }}</h2>
            <a class="button bg-green !text-white" href="{{ url('honden') }}">Voeg producten toe</a>
        </div>
    {% endif %}
</section>
{% endblock %}