{% set pages = [] %}

{% if currentUser %}
{% set pages = pages|merge([
    {
        title: 'Change E-mail'|t,
        url: url('account/emailadres-wijzigen')
    },
    {
        title: 'Change Password'|t,
        url: url('account/wachtwoord-wijzigen')
    },
    {
        title: 'Adresses'|t,
        url: url('account/adresboek')
    },
    {
        title: 'Log out'|t,
        url: logoutUrl
    },
]) %}
{% else %}
{% set pages = pages|merge([
    {
        title: 'Login'|t,
        url: url('account/login')
    },
    {
        title: 'Register'|t,
        url: url('account/register')
    }
]) %}
{% endif %}

<ul class="w-6/12">
    {% for item in pages %}
    <li class="my-2"><a href="{{ item.url }}" class="text-10 {{ item.url == craft.app.request.absoluteUrl ? 'font-medium' }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>
