{# Layouts and macros #}
{% extends "_layout/site" %}

{# Set variables #}
{% if not currentUser %}
    {% redirect '/account/login' %}
{% endif %}

{% block content %}
<section class="bg-pink py-20 lg:py-40 xl:py-70">
    <div class="container w-10/12 bg-white relative p-40 lg:p-80">
        <h1 class="text-30 font-serif uppercase mb-20">Email wijzigen</h1>
        <div class="flex">
            {% include '_commerce/account/partials/accountNav' %}

        </div>
    </div>
</section>
{% endblock %}
