<a href="{{ item.url }}" class="mb-30">
    <div class="overflow-hidden">
        <img src="../assets/www/images/Mockup-2.jpg" alt="hero">
    </div>

    <div class="relative -top-25 ml-25">
        <h3 class="uppercase">{{item.title}}</h3>
        <p class="font-medium">€ 52</p>
        <img class="absolute right-25 bottom-15" src="../assets/www/svg/heart-fill.svg" alt="hero">
    </div>
</a>