/* Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input::placeholder, textarea::placeholder, select::placeholder {
  @apply text-9;
  opacity: 0.8;
  color: rgb(189, 189, 189);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.button {
  border: 1px solid #e7e7e7;
}

.button:hover {
  border: 1px solid #fff;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #333;
}

.button::before {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
  transition: top 0.3s ease, left 0.3s ease;
}

.button::after {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
  transition: bottom 0.3s ease, right 0.3s ease;
} 

.button:hover::before {
  top: -0.5rem;
  left: -0.5rem;
}

.button:hover::after {
  bottom: -0.5rem;
  right: -0.5rem;
}