<!DOCTYPE html>
<html lang="{{ craft.app.language }}" class="subpixel-antialiased relative">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ mix('app.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/ppq4kgu.css">
        {# fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
        {% include '_layout/partials/favicons' %}
    </head>
    <body class="body">
        {# Start our app #}
        <div class="app text-base font-sans font-light">
            {% block app %}{% endblock %}
        </div>
    <script src="{{ mix('app.js') }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    </body>
</html>