{% extends "_layout/base" %}

{# globals #}
{% set generalData = craft.app.globals().getSetByHandle('generalData') %}

{# 1 Query to rule them all #}
{% set pages = craft.entries.section('pages').search('showInNav:1 OR showInFooter:1').all() %}

{# split up in main & legal nav #}
{% set mainNav = pages|filter(item => item.showInNav) %}
{% set legalNav = pages|filter(item => item.showInFooter) %}

{% block app %}

    {# header component #}
    {% include '_layout/partials/header' %}

    {# main content #}
    <main class="overflow-x-hidden">
        {% block content %}{% endblock %}
    </main>

    {# footer component #}
    {% include '_layout/partials/footer' %}

{% endblock %}