{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <section class="container py-20 px-15 lg:py-140 relative">
        <div class="lg:w-6/12 mx-auto mb-40">
            <h1 class="text-25 text-center font-serif uppercase text-pink-500">404 <br>We unfortunately could not find this page.</h1>

            <p class="text-10 font-sans my-30 pb-10">It seems like the artwork you're looking for is currently taking a break, exploring new horizons, or simply playing hide-and-seek with our servers. Our apologies for the inconvenience. But don't fret! Just like lens stains on a camera, mistakes happen, and we're here to guide you back on track.</p>

            <a class="button relative pointer border-1 border-black bg-transparent text-black py-10 px-20 block w-max transition duration-300" href="/">go back to homepage</a>
        </div>
    </section>
{% endblock %}