{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <section class="container py-20 px-15 lg:py-140 relative">
        <div class="lg:w-6/12 mx-auto mt-20 mb-80">
            <h1 class="text-25 text-center font-serif uppercase text-pink-500">503 <br>Our servers unavailable for the moment.</h1>
            <p class="text-10 font-sans my-40 pb-10">Creating a masterpiece takes time, dedication, and attention to detail. In our pursuit of perfection, we've encountered a minor setback. But fear not! Our team of talented artists and technicians is working tirelessly behind the scenes to restore the vibrant colors and bring back the beauty you seek.</p>
        </div>
    </section>
{% endblock %}