<a class="relative pointer border-none bg-black text-white py-10 px-20 block w-max hover:bg-white hover:text-black transition duration-300" href="{{ button.getUrl() }}" target="{{ button.getTarget() }}">{{ button.getText() }}</a>
