<a class="button relative pointer border-none bg-transparent text-black py-10 px-20 block w-max hover:bg-pink hover:text-black transition duration-300" href="{{ button.getUrl() }}" target="{{ button.getTarget() }}">{{ button.getText() }}</a>
