<a class="border border-black bg-white text-black py-10 px-20 block w-max hover:bg-black hover:text-white transition duration-300" href="{{ button.getUrl() }}" target="{{ button.getTarget() }}">{{ button.getText() }}</a>
