<a class="button relative pointer border-1 border-black bg-transparent text-black py-10 px-20 block w-max transition duration-300" href="{{ button.getUrl() }}" target="{{ button.getTarget() }}">{{ button.getText() }}</a>
