<footer class="w-12/12 mt-100 py-25 relative bg-black text-white">
    <div class="container flex items-center justify-between text-10">
        <div class="w-6/12 flex items-center gap-30">
            <a class="p-5" href="/home"><img class="" src="../assets/www/svg/icon.svg" alt="Logo-icon"></a>
            <ul class="flex items-center gap-30">
                <li><a href="">privacy policy</a></li>
                <li><a href="">cookie policy</a></li>
                <li><a href="">copyright</a></li>
                <li><a href="">faq</a></li>

                {# {% for item in legalNav %}
                    <li class="block my-25 italic hover:not-italic"><a class="py-5" href="/{{item.title}}">{{item.title}}</a></li>
                {% endfor %} #}
            </ul>
        </div>
        <a href="">by <span class="underline">Grephic</span></a>
    </div>
</footer>

