<header class="z-10 container w-12/12 py-30 relative">
    <div class="flex items-center justify-between">
        <a class="p-5" href="/home"><img class="" src="../assets/www/svg/logo.svg" alt="Logo"></a>
        <div class="w-2/12 z-50 flex items-center justify-between">
            <a href="/account"><img class="" src="../assets/www/svg/account.svg" alt="account"></a>
            <a href="/wishlist"><img class="" src="../assets/www/svg/heart.svg" alt="heart"></a>
            <a href="/shopping-bag"><img class="" src="../assets/www/svg/bag.svg" alt="bag"></a>
            <button class="inline-block p-1 | js-nav-button">
                <div class="w-[25px] h-[2px] bg-black mb-[.4rem] relative | js-lines"></div>
                <div class="w-[25px] h-[2px] bg-black mt-[.4rem] relative | js-lines"></div>
            </button>
        </div>
    </div>

    {% include "_layout/partials/nav.twig" %}
</header>