<header class="container w-12/12 py-30 relative flex items-center justify-between">
    <img class="" src="../assets/www/svg/logo.svg" alt="Logo">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>