<header class="container w-12/12 py-30 relative flex items-center justify-between">
    <img class="" src="../assets/www/svg/logo.svg" alt="Logo">
    <button class="inline-block p-10">
        <div class="w-[25px] h-[2px] bg-black my-[.4rem] mt-0"></div>
        <div class="w-[25px] h-[2px] bg-black my-[.4rem] mb-0"></div>
    </button>
</header>