{# Template: {{ _self }}.twig #}

{#  #}
<nav class="hidden z-40 fixed overflow-hidden w-screen h-screen bg-black top-0 left-0 flex  | js-nav">
    <img class="w-6/12 h-fit" src="../assets/www/images/bergen-4.jpg" alt="nav">
    <ul class="w-4/12 mx-auto text-white">
        <li class="block text-30 italic"><a class="p-5" href="/home">Home</a></li>
        <li class="block text-30 italic"><a class="p-5" href="/work">Work</a></li>
        <li class="block text-30 italic"><a class="p-5" href="/about">About</a></li>
        <li class="block text-30 italic"><a class="p-5" href="/shop">Shop</a></li>
        <li class="block text-30 italic"><a class="p-5" href="/contact">Contact</a></li>
    </ul>
</nav>