{# Template: {{ _self }}.twig #}

{% set navItems = craft.entries().section('pages').level(1).offset(1).limit(4) %}

<nav class="hidden z-40 fixed overflow-hidden w-screen h-screen bg-black top-0 left-0 flex items-center | js-nav">
    <div class="hidden md:block image-holder w-6/12 h-fit">
    <img class="image" src="../assets/www/images/work.png">
    </div>
    <div class="w-12/12 md:w-4/12 mx-auto text-white uppercase">
        <ul class="list mt-40 lg:mt-100 font-serif text-25">
            <li class="block my-25 italic hover:not-italic"><a class="py-5" href="/Work" data-src="../assets/www/images/work.png">Collections</a></li>
            <li class="block my-25 italic hover:not-italic"><a class="py-5" href="/About" data-src="../assets/www/images/about.png">About</a></li>
            <li class="block my-25 italic hover:not-italic"><a class="py-5" href="/prints" data-src="../assets/www/images/prints.png">Prints</a></li>
            <li class="block my-25 italic hover:not-italic"><a class="py-5" href="/Contact" data-src="../assets/www/images/contact.png">Connect</a></li>
        </ul>
        <div class="mt-80 lg:mt-150 font-sans text-12 flex flex-wrap gap-40">
            {# <a target="_blank" href="{{generalData.facebookLink}}">Facebook</a> #}
            <a target="_blank" href="{{generalData.instagramLink}}">Instagram</a>
            <a target="_blank" href="{{generalData.linkedinLink}}">LinkedIn</a>
                        {% include "_layout/partials/language-switcher.twig" %}

        </div>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

<script>
$('.list li a').hover(function() {
  var value = $(this).attr('data-src');
  gsap.to('.image-holder img', {
    duration: 0.4,
    opacity: 0,
    onComplete: function() {
      $('.image-holder img').attr('src', value);
      gsap.to('.image-holder img', {
        duration: 0.4,
        opacity: 1,
        ease: Power1.easeOut
      });
    },
    ease: Power1.easeInOut
  });
});
</script>